# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.exe

transAss1/Debug/
Debug/

*.suo

*.opensdf
*.user
*.v11.suo

transAss1/calc/*.c
transAss1/calc/*.defoutput
transAss1/calc/*.dot
transAss1/calc/*.png
transAss1/calc/*.h
transAss1/calc/calc
transAss1/calc/calc_def
